<div class='about-page'>
<h2>Hi, I'm Nicole!</h2>
  <p class='about'>I love cooking and I am always trying to find new recipes (especially crockpot recipes). I often find great recipes on various blogs but then have a hard time finding them again. Here is a collection of all my favorite recipes (from other blogs, and my family and friends). If the recipe is from another site, the link to the original is listed. Hope you enjoy!</p>
</div>
