body {
  background-color: #A6CFD5;
  margin: 20px;
}

h1 {
  text-align: center;
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 2.5em;
}
.nav {
  list-style-type: none;
}
.nav li {
  display: inline;
}
.post-show {
  background-color: white;
  padding: 2px;
  margin: 10px;
}
.show-title {
  margin-left: 10px;
  color: #412234;
}
.show-created {
  margin-left: 10px;
  color: grey;
}
.about-page {
  background-color: white;
  text-align: center;
  margin: auto;
}
#new-post {
  width: 100px;
  height: 40px;
  font-size: 15px;
  border-radius: 5px;
  background-color: #edeff2;
  margin-left: 10px;
}
.new-recipe {

}
